body {
  font-family: sans-serif;
}
table, table td {
  border: 1px solid black;
  border-collapse: collapse;
}
table tbody td {
  padding: 0.25rem 1rem 0.25rem 0.25rem;
}
table thead td {
  padding: 0.25rem;
}
table thead {
  text-align: center;
  font-weight: bold;
  background: lightgray;
}